@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
ul,ol,dl{
	list-style: none;
}
a{
	color: #666;
	text-decoration: none;
}
img{
	display: block;
	border:none;
}
.clearFloat:after{
	content: "";
	display: block;
	clear: both;
}
.clearFloat{
	zoom:1;
}
